LINKER_SCRIPT = $(ARCHDIR)/riscv64-virt.ld

KERNEL_ARCH_CFLAGS = \
        -march=rv64imafdc \
	-mcmodel=medany \
	-mabi=lp64d \
        -DRISCV_ARCH
KERNEL_ARCH_LDFLAGS = -Wl,-T,$(LINKER_SCRIPT)

KERNEL_ARCH_OBJS = \
        $(ARCHDIR)/cpu.o \
        $(ARCHDIR)/trap.o \
        $(ARCHDIR)/crt0.o \
        $(ARCHDIR)/entry.o \
